@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div>
    <h1>This Application have 3 roles :</h1>
    <h2>When you running this app for first run , this app will be create 3 users and 3 roles in database</h2>
    <br /><br />
          <h3>Admin  -   username : admin@gmail.com  &nbsp; &nbsp; password : Admin123* </h3>
    <h3>Manager  -   username : manager@gmail.com  &nbsp; &nbsp; password : Admin123* </h3>
    <h3>User  -   username : user@gmail.com  &nbsp; &nbsp; password : Admin123* </h3>
    <br /><br />
    <h4>If you register with application , this app will be create a USER role for every user</h4>
</div>